<div class="perfil-container">
  <div class="perfil">
    <div class="img-perfil">
      <img src="assets/compu.png" alt="Computadora">
    </div>
    <div class="text-perfil">
      <h1 class="text-2xl font-bold">Front End Developer</h1>
      <span class="badge">Abierto al trabajo</span>
      <p>¡Hola! Soy <strong>Alexis Gómez</strong>, <a href="#" class="text-blue-500">desarrollador web</a> especializado
        en Angular.</p>
      <p>Originario de Coatepec, Veracruz</p>
      <div class="redes-perfil">
        <a href="assets/cv.pdf" target="_blank" class="btn">
          <fa-icon [icon]="faMailchimp"></fa-icon> alexisgh74&#64;gmail.com
        </a>
        <a href="https://www.linkedin.com" target="_blank" class="btn">
          <fa-icon [icon]="faLinkedinIn"></fa-icon> LinkedIn
        </a>
        <a href="https://github.com" target="_blank" class="btn">
          <fa-icon [icon]="faGithub"></fa-icon> Github
        </a>
        <a href="assets/cv.pdf" target="_blank" class="btn">
          <fa-icon [icon]="faCloudflare"></fa-icon> CV
        </a>
      </div>
    </div>
  </div>
</div>

<!-- -------------------- Footer -------------------- -->
<div class="fixed-footer">
  <img class="img-logo" src="assets/developersCode.png" alt="Logo DevelopersCode">
  <div class="separator"></div>
  <a><span class="material-icons icon-footer">person</span></a>
  <a><span class="material-icons icon-footer">code</span></a>
  <a><span class="material-icons icon-footer">book</span></a>
  <div class="separator"></div>
  <a (click)="toggleTheme()"><span class="material-icons icon-footer">dark_mode</span></a>
  <a><span class="material-icons icon-footer">description</span></a>
</div>
