<div class="container-portafolio">
  <div id="perfil" class="perfil-container">
    <div class="perfil">
      <div class="img-perfil">
        <img src="assets/compu.png" alt="Computadora">
      </div>
      <div class="text-perfil">
        <h1 class="text-2xl font-bold">Front End Developer</h1>
        <span class="badge">Abierto al trabajo</span>
        <p>¡Hola! Soy <strong>Alexis Gómez</strong>, <a href="#tecnologias" class="text-blue-500">desarrollador web</a>
          especializado
          en Angular.</p>
        <p>{{ 'WELCOME' | translate }}</p>
        <p>Originario de Coatepec, Veracruz.</p>
        <div class="redes-perfil">
          <a href="assets/cv.pdf" target="_blank" class="btn">
            <span class="material-icons icon-redes">mail</span> alexisgh74&#64;gmail.com
          </a>
          <a href="https://www.linkedin.com" target="_blank" class="btn">
            <fa-icon [icon]="faLinkedinIn"></fa-icon> LinkedIn
          </a>
          <a href="https://github.com" target="_blank" class="btn">
            <fa-icon [icon]="faGithub"></fa-icon> Github
          </a>
          <a href="assets/cv.pdf" target="_blank" class="btn">
            <span class="material-icons icon-redes">cloud_download</span> CV
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="tecnologias" class="tecnologias">
    <h2 class="section-title">Trabajo con las siguientes tecnologías</h2>
    <div class="iconos-tecnologias">
      <!-- Frontend -->
      <img src="assets/icons/angular.svg" class="icon" />
      <img src="assets/icons/react.svg" class="icon" />
      <img src="assets/icons/tailwindcss.svg" class="icon" />

      <!-- Backend -->
      <img src="assets/icons/java.svg" class="icon" />
      <img src="assets/icons/nodedotjs.svg" class="icon" />
      <img src="assets/icons/express.svg" class="icon" />

      <!-- Bases de Datos -->
      <img src="assets/icons/postgresql.svg" class="icon" />
      <img src="assets/icons/mysql.svg" class="icon" />

      <!-- Control de Versiones -->
      <img src="assets/icons/git.svg" class="icon" />
    </div>
  </div>

  <div class="experiencia">
    <h2 class="section-title">Experiencia</h2>

    <div class="experience-item" *ngFor="let exp of experiencias">
      <div class="img-experience">
        <span class="material-icons icon-experience">{{exp.icono}}</span>
      </div>
      <div class="experience-content">
        <h3 class="company">{{ exp.compania }}</h3>
        <p class="title">{{ exp.titulo }}</p>
        <p class="description">{{ exp.descripcion }}</p>
      </div>
      <div class="experience-dates">
        <span>{{ exp.inicio }} - {{ exp.fin }}</span>
      </div>
    </div>
  </div>

  <!-- -------------------- Proyectos -------------------- -->
  <div id="proyectos" class="projects-container">
    <h2 class="section-title">Proyectos</h2>
    <div *ngFor="let project of proyectos" class="project-card">
      <div class="text-proyectos">
        <span>{{ project.title }}</span>
        <p class="description">{{ project.description }}</p>
        <div class="technologies">
          <ul>
            <li class="technologies_usadas" *ngFor="let tech of project.technologies; let i = index">
              <img [src]="project.technologiesImg[i]" [alt]="tech" width="19" height="19" style="padding-right: 5px;">
              {{ tech }}
            </li>
          </ul>
          <div class="actions">
            <button class="code-btn"> Ver demo</button>
            <button class="preview-btn">Código</button>
          </div>
        </div>
      </div>
      <div class="img-proyectos">
        <img src="{{project.url}}" alt="">
      </div>
    </div>
  </div>
</div>

<!-- -------------------- Fixed Footer -------------------- -->
<div class="fixed-footer">
  <img class="img-logo" src="assets/developersCode.png" alt="Logo DevelopersCode">
  <div class="separator"></div>
  <a href="#perfil"><span class="material-icons icon-footer">person</span></a>
  <a href="#tecnologias"><span class="material-icons icon-footer">code</span></a>
  <a href="#proyectos"><span class="material-icons icon-footer">book</span></a>
  <div class="separator"></div>
  <a (click)="toggleTheme()"><span class="material-icons icon-footer">dark_mode</span></a>
  <a (click)="switchLanguage()"><span class="material-icons icon-footer">description</span></a>
</div>

<!-- -------------------- Footer -------------------- -->
<footer class="footer">
  <img class="img-logo" src="assets/developersCode_original.png" alt="Logo DevelopersCode">
  <div class="footer-content">
    <p>&copy; 2025 Alexis Gómez. Todos los derechos reservados.</p>
  </div>
</footer>
