.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
  z-index: 1000;
}

.separator {
  width: 1px;
  height: 25px;
  background-color: #ccc;
  margin: 0 10px;
}

.icon-footer {
  cursor: pointer;
  color: #c6c6c6;
}

.img-logo {
  width: 25px
}
