<div class="container-portafolio flex-column w-100" data-aos="fade-up">
  <div id="perfil" class="perfil-container flex-center w-70 p-20" data-aos="zoom-in">
    <div class="perfil flex rounded p-20">
      <div class="img-perfil" data-aos="fade-right">
        <img src="assets/compu.png" alt="Computadora">
      </div>
      <div class="text-perfil" data-aos="fade-left">
        <h1 class="text-2xl font-bold">{{ 'FRONTEND_DEVELOPER' | translate }}</h1>
        <span class="badge">{{ 'OPEN_TO_WORK' | translate }}</span>
        <p>{{ 'INTRO' | translate }}</p>
        <p>{{ 'ORIGIN' | translate }}</p>
        <div class="redes-perfil flex gap-10 mt-10" data-aos="fade-up">
          <a target="_blank" class="btn">
            <span class="material-icons icon-redes">mail</span> alexisgh74&#64;gmail.com
          </a>
          <a href="https://www.linkedin.com" target="_blank" class="btn">
            <fa-icon [icon]="faLinkedinIn"></fa-icon> {{ 'LINKEDIN' | translate }}
          </a>
          <a href="https://github.com" target="_blank" class="btn">
            <fa-icon [icon]="faGithub"></fa-icon> {{ 'GITHUB' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="tecnologias" class="tecnologias w-70 p-20 text-center" data-aos="fade-up">
    <h2 class="section-title">{{ 'TECHNOLOGIES_TITLE' | translate }}</h2>
    <div class="iconos-tecnologias flex gap-10" data-aos="zoom-in">
      <!-- Frontend -->
      <img src="assets/icons/angular.svg" class="icon" />
      <img src="assets/icons/react.svg" class="icon" />
      <img src="assets/icons/tailwindcss.svg" class="icon" />

      <!-- Backend -->
      <img src="assets/icons/java.svg" class="icon" />
      <img src="assets/icons/nodedotjs.svg" class="icon" />
      <img src="assets/icons/express.svg" class="icon" />

      <!-- Bases de Datos -->
      <img src="assets/icons/postgresql.svg" class="icon" />
      <img src="assets/icons/mysql.svg" class="icon" />

      <!-- Control de Versiones -->
      <img src="assets/icons/git.svg" class="icon" />
    </div>
  </div>

  <div class="experiencia w-70 p-20" data-aos="fade-up">
    <h2 class="section-title">{{ 'EXPERIENCE_TITLE' | translate }}</h2>

    <div class="experience-item flex mb-10" *ngFor="let exp of experiencias" data-aos="fade-right">
      <div class="img-experience text-center w-10">
        <span class="material-icons icon-experience">{{exp.icono}}</span>
      </div>
      <div class="experience-content w-70">
        <h3 class="company">{{ exp.compania }}</h3>
        <p class="title">{{ exp.titulo }}</p>
        <p class="description">{{ exp.descripcion }}</p>
      </div>
      <div class="experience-dates w-20">
        <span>{{ exp.inicio }} - {{ exp.fin }}</span>
      </div>
    </div>
  </div>

  <!-- -------------------- Proyectos -------------------- -->
  <div id="proyectos" class="projects-container w-70 p-20" data-aos="fade-up">
    <h2 class="section-title">{{ 'PROJECTS_TITLE' | translate }}</h2>
    <div *ngFor="let project of proyectos" class="project-card flex mb-10 w-100" data-aos="zoom-in">
      <div class="text-proyectos w-70">
        <span>{{ project.title }}</span>
        <p class="description">{{ project.description }}</p>
        <div class="technologies">
          <ul>
            <li class="technologies_usadas flex gap-1" *ngFor="let tech of project.technologies; let i = index">
              <img [src]="project.technologiesImg[i]" [alt]="tech" width="19" height="19">
              {{ tech }}
            </li>
          </ul>
          <div class="actions flex gap-10 mt-10">
            <a *ngIf="project.button" href="https://alexisgohe.github.io/restaurante/" target="_blank"
              class="code-btn">{{ 'VIEW_DEMO' | translate }}</a>
            <a *ngIf="project.button" href="https://github.com/alexisgohe/restaurante" target="_blank"
              class="preview-btn">{{ 'VIEW_CODE' | translate }}</a>
          </div>
        </div>
      </div>
      <div class="img-proyectos w-30">
        <img class="shadow-lg rounded-lg h-36" src="{{project.url}}" alt="">
      </div>
    </div>
  </div>
</div>

<!-- -------------------- Fixed Footer -------------------- -->
<div class="fixed-footer">
  <img class="img-logo" src="assets/developersCode.png" alt="Logo DevelopersCode">
  <div class="separator"></div>
  <a href="#perfil"><span class="material-icons icon-footer">person</span></a>
  <a href="#tecnologias"><span class="material-icons icon-footer">code</span></a>
  <a href="#proyectos"><span class="material-icons icon-footer">book</span></a>
  <div class="separator"></div>
  <a (click)="toggleTheme()"><span class="material-icons icon-footer">dark_mode</span></a>
  <a (click)="switchLanguage()"><span class="material-icons icon-footer">description</span></a>
  <a href="assets/pdf/Alexis_Gomez_Hernandez_Curriculum_Vitae.pdf" target="_blank"><span
      class="material-icons icon-footer">download</span></a>
</div>

<!-- -------------------- Footer -------------------- -->
<footer class="footer">
  <img class="img-logo" src="assets/developersCode_original.png" alt="Logo DevelopersCode">
  <div class="footer-content">
    <p>&copy; 2025 Alexis Gómez. {{ 'FOOTER_COPYRIGHT' | translate }}</p>
  </div>
</footer>
