@import "tailwindcss";

:root {
  box-shadow: none;
  margin: 0;
  padding: 0 80px;
}

/* styles.css */
body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

/* ------------------- Perfil ------------------- */
body.dark-theme .perfil {
  background: #121212;
}

body.dark-theme .badge {
  background: #388E3C;
  color: #E0E0E0;
}

body.dark-theme .icon-redes {
  color: #e0e0e0;
  transition: color 0.3s ease;
}

body.dark-theme .btn {
  background: #333;
  color: #E0E0E0;
}

body.dark-theme .btn:hover {
  background: #444;
}

/* ------------------- Tecnologias ------------------- */
body.dark-theme .icon {
  filter: invert(1);
}

body.dark-theme .section-title {
  color: #E0E0E0;
}

/* ------------------ Experiencia -------------------- */
body.dark-theme .experience-item {
  border-bottom: 1px solid #444;
}

body.dark-theme .company,
body.dark-theme .title,
body.dark-theme .description,
body.dark-theme .experience-dates {
  color: #e0e0e0;
}

body.dark-theme .icon-experience {
  color: #f0f0f0;
}

body.dark-theme .experience-dates {
  color: #bbb;
}

body.dark-theme .experience-content {
  border-left: 2px solid #444;
  padding-left: 15px;
}

/* ------------------- Proyectos ------------------- */
body.dark-theme .actions {
  color: #E0E0E0;
}

body.dark-theme .actions button {
  background-color: #333;
  color: #E0E0E0;
  border: 1px solid #444;
}

body.dark-theme .actions button:hover {
  background-color: #444;
}

body.dark-theme .technologies_usadas {
  background-color: #333;
  color: #E0E0E0;
  border: 1px solid #444;
}

body.dark-theme .technologies_usadas img{
  filter: invert(1);
}

/* ------------------- Footer ------------------- */

.footer .footer-content p {
  margin: 0;
  color: #333;
}

.footer .footer-links {
  margin-top: 10px;
}

body.dark-theme .footer {
  background-color: #121212;
  border-top: 1px solid #444;
}

body.dark-theme .footer .footer-content p,
body.dark-theme .footer .footer-links a {
  color: #e0e0e0;
}

body.dark-theme .footer .footer-links a:hover {
  color: #ffffff;
}

/* ------------------- Fixed Footer ------------------- */
body,
.btn,
.icon,
.perfil,
.fixed-footer {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-theme .fixed-footer {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.1);
}

body.dark-theme .icon-footer {
  color: #ccc;
}

body.dark-theme .separator {
  background-color: #444;
}
